<% @results.each do |result| %>
  <div class=".stations">
    <%= result.name %>
    <%= result.address %>
    <%= result.fuel_type %>
    <%= result.distance %>
    <%= result.access_times %>
  </div>
<% end %>
